<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("191a61f0-fa08-4476-95de-ebd07038a722");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
